@use 'colors' as *;
@use 'mixin' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Inter', sans-serif;
	font-family: 'Roboto Mono', monospace;
	background-color: $dark-blue;
}

.header {
	position: relative;
}

.nav {
	// NAV - mobile
	&__mobile {
		position: relative;
		height: 100vh;
		overflow: hidden;

		&-icon {
			position: absolute;
			color: $bright-green;
			font-size: 4rem;
			top: 3rem;
			left: 3rem;
		}

		&-hamburger {
			position: absolute;
			top: 3rem;
			right: 3rem;
			z-index: 5;
		}

		&-list {
			position: absolute;
			height: 100vh;
			width: 400px;
			right: -160%;
			transition: right 0.4s;
			&-active {
				right: 0;
			}

			&-wrapper {
				display: flex;
				width: 400px;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				height: 100%;
				background-color: rgb(0, 0, 0, 0.8);
			}
		}

		&-item {
			text-decoration: none;
			color: $light-blue;
			font-size: 3rem;
			margin-bottom: 3rem;
			&-span {
				color: $bright-green;
			}
		}
	}

	// NAV - desktop

	&__desktop {
		display: none;
		justify-content: center;
		align-items: center;
		height: 100px;
		// background-color: rgb(0, 0, 0, 0.8);
		// width: 100%;
		// position: fixed;
		&-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 85%;
		}

		&-icon {
			color: $bright-green;
			font-size: 4rem;
		}

		&-item {
			text-decoration: none;
			color: $light-blue;
			font-size: 2rem;
			margin-bottom: 3rem;
			margin-right: 2rem;

			&-span {
				color: $bright-green;
			}
		}
	}
}

.introduction {
	position: absolute;
	bottom: 30%;
	left: 10%;
	right: 10%;

	&__h1 {
		margin-bottom: 2rem;
		color: $teal;
	}

	&__h2 {
		margin-bottom: 1.5rem;
		color: $light-blue;
	}

	&__p {
		margin-bottom: 1rem;
		color: $light-blue;
	}
}

.main {
	&__wrapper {
		max-width: 1000px;
		margin: 0 auto;
	}
}

.section {
	&__title {
		margin-left: 5rem;
		font-size: 2rem;
		margin-bottom: 5rem;

		&-h3 {
			color: $light-blue;
			font-weight: 300;
			display: flex;
		}

		&-span {
			color: $bright-green;
		}

		&-line {
			width: 80%;
			&::after {
				background-color: $bright-green;
				content: '';
				display: inline-block;
				height: 1px;
				vertical-align: middle;
				width: 70%;
				margin-left: 3rem;
			}
		}
	}
}

.about {
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 10rem;
		&-text {
			color: $light-blue;
			margin-bottom: 3rem;
			&-p {
				margin-bottom: 2rem;
				margin-left: 2rem;
				margin-right: 2rem;
			}
		}

		&-picture {
			&-img {
				max-width: 400px;
				border-radius: 8px;
				filter: grayscale(50%);
				transition: filter 0.4s, transform 0.4s;

				&:hover {
					filter: none;
					transform: scale(1.05);
				}
			}
		}
	}
}

.work {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		margin-left: 5rem;
		padding-left: 2rem;
		padding-right: 2rem;
		align-items: center;
		max-width: 400px;
		background-color: $teal;
		border: 1px solid $bright-green;
	}

	&__item {
		&-description {
			max-width: 400px;
			padding: 1rem;
			margin-left: 5rem;
			background-color: $light-blue;
			display: none;
		}

		&-title {
			font-size: 2rem;
		}

		&-icon {
			cursor: pointer;
			padding: 1rem;
			font-size: 3rem;
			transition: transform 0.4s;
		}

		&-ul {
			list-style: none;
		}

		&-li {
			margin: 2rem;
		}
	}
}

.active {
	display: block;
}

// Media
@import './small';
@import './medium';
@import './large';
